/* Standard Classes */
h1{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 30px 0;
}
h2{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 30px 0;
}
h3{
    font-size: 14px;
}

/* Classes for changing text colour */
.NegativeTransaction {
    color: #FF0000;
}

.PositiveTransaction {
    color: MediumSeaGreen;
}


/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

/* Simple thin table */
.table-thin {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.table-thin td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

/* Fancy table I got from the internet */
.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table .grey-tr {
    color: #d1caca;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}