.idea
*.pyc
.eggs
*.egg-info
tests/_trial_temp/
.voevent_env/
settings.json
webapp_tracet/plantuml.jar
docs/_*
webapp_tracet/twistd.pid
webapp_tracet/static_host/
webapp_tracet/uwsgi-emperor.log
webapp_tracet/webapp_tracet.sock
webapp_tracet/media
docs/html/*
.env
.vscode
build