.idea
*.pyc
.eggs
trigger_webapp/trigger_app/migrations/
tests/_trial_temp/
.voevent_env/
settings.json
trigger_webapp/plantuml.jar
docs/_*
trigger_webapp/twistd.pid
trigger_webapp/static_host/
trigger_webapp/uwsgi-emperor.log
trigger_webapp/trigger_webapp.sock