astropy==2.0.5
attrs==17.4.0
Automat==0.6.0
Comet==2.0.1
constantly==15.1.0
ephem==3.7.6.0
funcsigs==1.0.2
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
iso8601==0.1.12
lxml==3.8.0
numpy==1.14.2
orderedmultidict==0.7.11
pluggy==0.6.0
py==1.5.2
py2-ipaddress==3.4.1
Pyro4==4.70
pytest==3.4.2
pytz==2018.3
selectors34==1.2
serpent==1.24
six==1.11.0
Twisted==17.9.0
voevent-parse==1.0.2
zope.interface==4.4.3
