astropy
numpy
Comet
git+https://github.com/4pisky/fourpiskytools.git
git+https://github.com/ste616/atca-rapid-response-api.git#subdirectory=python
git+https://github.com/ste616/cabb-schedule-api.git#subdirectory=python