{% extends 'trigger_app/header.html' %}

{% load utils %}

{% block content %}
<title>Event Group Details</title>

<div class="container-sm">
  <h2>{% if event_group.source_type  is not None %} {{ event_group.get_source_type_display }}, {% endif %} Event Group ID {{ event_group.id }}</h2>
  <table class="table-thin">
    <tr>
      <td>Telescope(s)</td>
      <td>{{ telescopes }}</td>
    </tr>
    <tr>
      <td>Trig ID</td>
      <td>{% if event_group.trig_id is not None %}
            {% if 'SWIFT' in telescopes  %}
              <!-- Link to SWIFT telescope page -->
              <a href="https://gcn.gsfc.nasa.gov/other/{{ event_group.trig_id }}.swift" style="text-decoration:None">{{ event_group.trig_id }}</a>
            {% else %}
              {{ event_group.trig_id }}
            {% endif %}
          {% endif %}</td>
    </tr>
    <tr>
      <td>Recieved (UTC)</td>
      <td>{{ event_group.recieved_data|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Earliest Event Observed (UTC)</td>
      <td>{{ event_group.earliest_event_observed|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Latest Event Observed (UTC)</td>
      <td>{{ event_group.latest_event_observed|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Best Right Acension</td>
      <td>{{ event_group.ra_hms }}</td>
    </tr>
    <tr>
      <td>Best Declination</td>
      <td>{{ event_group.dec_dms }}</td>
    </tr>
    <tr>
      {% if poserr_unit == "deg" %}
        <td>Best Position Error (&#176;)</td>
        <td>{{ event_group.pos_error }}</td>
      {% else %}
        <td>Best Position Error (arcmin)</td>
        <td>{% multiply event_group.pos_error 60 2 %}</td>
      {% endif %}
    </tr>
  </table>
</div>

<div class="container-fluid">
  <h2>Proposal Decisions</h2>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Decision ID</th>
        <th>Proposal Telsecope</th>
        <th>Proposal ID</th>
        <th>Decision</th>
        <th>Decision Reason</th>
        <th>Duration (s)</th>
        <th>RA (HH:MM:SS)</th>
        <th>Dec (DD:MM:SS)</th>
        {% if poserr_unit == "deg" %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (&#176;)</a></th>
        {% else %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (arcmin)</a></th>
        {% endif %}
      </tr>
    </thead>
    {% for prop_dec in prop_decs %}
    {% if prop_dec.decision == "I" %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="/proposal_decision_details/{{ prop_dec.id }}" style="text-decoration:None">{{ prop_dec.id }}</a</td>
      <td>{{ prop_dec.proposal.telescope }}</td>
      <td>{{ prop_dec.proposal.proposal_id }}</td>
      <td>{{ prop_dec.get_decision_display }}</td>
      <td style="white-space:pre">{{ prop_dec.decision_reason }}</td>
      <td>{{ prop_dec.duration }}</td>
      <td>{{ prop_dec.ra_hms }}</td>
      <td>{{ prop_dec.dec_dms }}</td>
      <td>
      {% if prop_dec.pos_error    is not None %}
        {% if poserr_unit == "deg" %}
          {{ prop_dec.pos_error }}
        {% else %}
          {% multiply prop_dec.pos_error 60 2 %}
        {% endif %}
      {% endif %}
      </td>
    </tr>
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
  </table>


  {% if obs %}
    <h2>Observations</h2>

    <table class="fl-table">
      <thead>
        <tr>
          <th>Observation ID</th>
          <th>Telescope</th>
          <th>Proposal Decision ID</th>
          <th>Reason</th>
          <th>Cancel Obs?</th>
        </tr>
      </thead>
      <!-- Iterate over object_list -->
      {% for ob in obs %}
      <!-- Display Objects -->
      <tr>
        {% if ob.website_link is None %}
          <td>{{ ob.obsid }}</td>
        {% else %}
          <td><a href="{{ ob.website_link }}" style="text-decoration:None">{{ ob.obsid }}</a></td>
        {% endif %}
        <td>{{ ob.telescope.name }}</td>
        <td><a href="/proposal_decision_details/{{ ob.proposal_decision_id.id }}" style="text-decoration:None">{{ ob.proposal_decision_id.id }}</a</td>
        <td>{{ ob.reason }}</td>
        <td>
          {% if ob.telescope.name == "ATCA" and ob.proposal_decision_id.decision != 'C' %}
            <button class="btn btn-danger" onclick='var conf = confirm("Are you sure you want to cancel observation {{ ob.obsid }}"); if (conf == true) { window.location = "/cancel_atca_observation/{{ ob.obsid }}";}'>Cancel</button>
          {% endif %}
        </td>
      </tr>
      <!-- If object_list is empty  -->
      {% empty %}
      <p>No observations yet.</p>
      {% endfor %}
    </table>
  {% endif %}

    <h2>Events</h2>

    <table class="fl-table">
      <thead>
        <tr>
          <th>Event ID</th>
          <th>Source Type</th>
          <th>Telescope</th>
          <th>Event Type</th>
          <th>Alert Time (UTC)</th>
          <th>Recieved (UTC)</th>
          <th>Trig ID</th>
          <th>Source Name</th>
          <th>Sequence number</th>
          <th>Duration (s)</th>
          <th>RA (HH:MM:SS)</th>
          <th>Dec (DD:MM:SS)</th>
          {% if poserr_unit == "deg" %}
            <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (&#176;)</a></th>
          {% else %}
            <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (arcmin)</a></th>
          {% endif %}
          <th>Fermi Detection Probability (%)</th>
          <th>SWIFT Rate Significance (sigma)</th>
        </tr>
      </thead>
      <!-- Iterate over object_list -->
      {% for event in events %}
      <!-- Display Objects -->
      {% if event.ignored %}
        <tr class="grey-tr">
      {% else %}
        <tr>
      {% endif %}
        <td><a href="/voevent_view/{{ event.id }}" style="text-decoration:None">{{ event.id }}</a></td>
        <td>{% if event.source_type  is not None %} {{ event.source_type }}  {% endif %}</td>
        <td>{{ event.telescope }}</td>
        <td>{{ event.event_type }}</td>
        <td>{{ event.event_observed|date:"Y-m-d H:i:s" }}</td>
        <td>{{ event.recieved_data|date:"Y-m-d H:i:s" }}</td>
        <td>{% if event.trig_id is not None %}
              {% if 'SWIFT' in telescopes  %}
                <!-- Link to SWIFT telescope page -->
                <a href="https://gcn.gsfc.nasa.gov/other/{{ event_group.trig_id }}.swift" style="text-decoration:None">{{ event_group.trig_id }}</a>
              {% else %}
                {{ event.trig_id }}
              {% endif %}
            {% endif %}</td>
        <td>{% if event.source_name  is not None %} {{ event.source_name }}  {% endif %}</td>
        <td>{% if event.sequence_num is not None %} {{ event.sequence_num }} {% endif %}</td>
        <td>{% if event.duration     is not None %} {{ event.duration }}     {% endif %}</td>
        <td>{% if event.ra_hms          is not None %} {{ event.ra_hms }}          {% endif %}</td>
        <td>{% if event.dec_dms         is not None %} {{ event.dec_dms }}         {% endif %}</td>
        <td>
        {% if event.pos_error    is not None %}
          {% if poserr_unit == "deg" %}
            {{ event.pos_error }}
          {% else %}
            {% multiply event.pos_error 60 2 %}
          {% endif %}
        {% endif %}
        </td>
        <td>{% if event.fermi_detection_prob is not None %} {{ event.fermi_detection_prob }}  {% endif %}</td>
        <td>{% if event.swift_rate_signif    is not None %} {{ event.swift_rate_signif    }}  {% endif %}</td>
      </tr>
      <!-- If object_list is empty  -->
      {% empty %}
      <li>No objects yet.</li>
      {% endfor %}
      </table>

</div>
{% endblock %}