{% extends 'trigger_app/header.html' %}

{% load utils %}

{% block content %}
<title>TRACE-T Home Page</title>
<div class="container py-4">
  <h1>Transient RApid-response using Coordinated Event Triggering (TRACE-T) Home Page</h1>
  <h3 style="text-align: center"><a href="https://tracet.readthedocs.io/" style="text-decoration:None">Documentation</a></h3>
  <hr>

  <h2>Broker Status</h2>
  <table class="table-thin-left">
    <thead>
    <tr>
      <th>Status</th>
      <th>Broker</th>
      <th>Remotes</th>
      <th>TCPs</th>
      <th>View Log</th>
    </tr>
    </thead>
    <tr>
      {% if twistd_comet_status.status > 0 %}
        <td class="NegativeTransaction">
      {% else %}
        <td class="PositiveTransaction">
      {% endif %}
        {{ twistd_comet_status.get_status_display }}</td>
      <td>VOEvent</td>
      <td>{{ remotes }}</td>
      <td>{{ tcps }}</td>
      <td><a href="/comet_log/" style="text-decoration:None">Comet & Kafka Log</a></td>
    </tr>
    <tr>
      {% if kafka_status.status > 0 %}
        <td class="NegativeTransaction">
      {% else %}
        <td class="PositiveTransaction">
      {% endif %}
        {{ kafka_status.get_status_display }}</td>
      <td>Kafka VOEvents</td>
      <td>GCN</td>
      <td>nasa.gcn</td>
      <td><a href="/comet_log/" style="text-decoration:None">Comet & Kafka Log</a></td>
    </tr>
  </table>
  <p></p>

  <hr>
  <h2>Most recent Event Groups</h2>
  <table class="fl-table">
    <col>
    <colgroup span="{{ settings|length }}"></colgroup>
    <thead>
    <tr>
      <td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>
      <th style="text-align: center; background: #448a92" colspan="{{ settings|length }}" scope="colgroup">Proposal Decisions</th>
    </tr>
    <tr>
      <th scope="row">Group ID</th>
      <th scope="row">First Alert (UTC)</th>
      <th scope="row">Event Telescope</th>
      <th scope="row">Trig ID</th>
      <th scope="row">Source Type</th>
      <th scope="row">Source Name</th>
      {% for setting in settings %}
        <th>{{ setting.proposal_id }}</th>
      {% endfor %}
    </tr>
    </thead>
    {% for trig, telescope, source_name, prop_decisions, prop_decision_ids in recent_event_groups %}
    <tr>
      <td><a href="/event_group_details/{{ trig.id }}/" style="text-decoration:None">{{ trig.id }}</a></td>
      <td scope="row">{{ trig.recieved_data|date:"Y-m-d H:i:s" }}</td>
      <td scope="row">{{ telescope }}</td>
      {% if telescope == "SWIFT" %}
        <!-- Link to SWIFT telescope page -->
        <td><a href="https://gcn.gsfc.nasa.gov/other/{{ trig.trig_id }}.swift" style="text-decoration:None">{{ trig.trig_id }}</a></td>
      {% else %}
        <td>{{ trig.trig_id }}</td>
      {% endif %}
      <td scope="row">{{ trig.source_type }}</td>
      <td scope="row">
        {% if source_type == "FS" %}
          {{ trig.source_name }}
        {% else %}
          {{ trig.source_type }}{{ trig.earliest_event_observed|date:"ymd" }}
        {% endif %}
      </td>
      {% for setting in settings %}
        {% if prop_decisions|index:forloop.counter0 == "Ignored" %}
          <td><a class="grey-tr"
        {% elif prop_decisions|index:forloop.counter0 == "Error" %}
          <td><a class="NegativeTransaction"
        {% elif prop_decisions|index:forloop.counter0 == "Pending" %}
          <td><a class="PendingTransaction"
        {% elif prop_decisions|index:forloop.counter0 == "Triggered" %}
          <td><a class="PositiveTransaction"
        {% else %}
          <td><a
        {% endif %}
          href="/proposal_decision_details/{{ prop_decision_ids|index:forloop.counter0 }}/" style="text-decoration:None" >{{ prop_decisions|index:forloop.counter0 }}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <div class="mx-auto" style="width: 200px;">
    <a  class="btn btn-info" href="/event_group_log/" role="button">Full Event Group Log</a>
  </div>

  <hr>
  <h2>Current Proposal Settings (Summarised)</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>Proposal ID</th>
      <th>Target Telescope</th>
      <th>Source Type</th>
      <th>Event Telescope</th>
      <th>Project ID</th>
      <th>Testing?</th>
      <th>Proposal Description</th>
      <th>Proposal Flow Diagram</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for setting in settings %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ setting.id }}/' style="text-decoration:None">{{ setting.proposal_id }}</a></td>
      <td>{{ setting.telescope }}</td>
      <td>{{ setting.get_source_type_display }}</td>
      <td>{% if setting.event_telescope is None %} All {% else %} {{ setting.event_telescope }} {% endif %}</td>
      <td>{{ setting.project_id }}</td>
      <td>{{ setting.testing }}</td>
      <td>{{ setting.proposal_description }}</td>
      <td><a href='/proposal_decision_path/{{ setting.id }}/' style="text-decoration:None">View Flow Diagram</a></td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <tr><td>No Settings yet.</td></tr>
    {% endfor %}
    </table>
    <p><a href="/proposal_settings/" style="text-decoration:None">View Proposal Setting Details</a></p>
    <p><a href="/proposal_create/" style="text-decoration:None">Create New a Proposal</a></p>
</div>
{% endblock %}