{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Proposal Decision Log</title>

<div class="container-fluid">
  <h1>Proposal Decision Log</h1>
  <div style="background-color:#f8f8f8; width:90%; margin: 0 auto; padding-bottom: 20px;">
  <h3>Filter Proposal Decisions:</h3>
  <form action="" method="get">
    <table>
      <tr>
        <td width="15%">{{ filter.form.decision.label_tag }}</td>
        <td width="15%">{{ filter.form.decision }}</td>
        <td width="15%">Recieved date (start)</td>
        <td width="15%"><input type="datetime-local" name="recieved_data_after" value="{{filter.form.recieved_data_after}}"></td>
        <td width="15%">Recieved date (end)</td>
        <td width="15%"><input type="datetime-local" name="recieved_data_before" value="{{filter.form.recieved_data_before}}"></td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" />
  </form>
  <table class="fl-table">
    <thead>
    <tr>
      <th>Decision ID</th>
      <th>Group ID</th>
      <th>Date (UTC)</th>
      <th>Proposal Telsecope</th>
      <th>Project ID</th>
      <th>Decision</th>
      <th>Decision Reason</th>
      <th>First Duration (s)</th>
      <th>Best Right Acension</th>
      <th>Best Declination</th>
      <th>Best Position Error (&#176;)</th>
    </tr>
  </thead>
    {% for object in page_obj %}
    {% if object.decision == "I" %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="/proposal_decision_details/{{ object.id }}/" style="text-decoration:None">{{ object.id }}</a></td>
      <td><a href="/event_group_details/{{ object.event_group_id }}/" style="text-decoration:None">{{ object.event_group_id }}</a></td>
      <td>{{ object.recieved_data|date:"Y-m-d H:i:s" }}</td>
      <td>{{ object.proposal.telescope }}</td>
      <td>{{ object.proposal.project_id }}</td>
      <td>{{ object.get_decision_display }}</td>
      <td style="white-space:pre">{{ object.decision_reason }}</td>
      <td>{{ object.duration }}</td>
      <td>{{ object.ra_hms }}</td>
      <td>{{ object.dec_dms }}</td>
      <td>{{ object.pos_error }}</td>
    </tr>
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
  </table>

  {% include "trigger_app/pagination.html" %}
</div>
{% endblock %}