{% extends 'trigger_app/header.html' %}

{% load utils %}

{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>{{ title }}</title>
    <div class="container-md">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label_tag }} {{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    <h1>{{ title }}</h1>
    <form action = "" method = "post">
        {% csrf_token %}

        <p>{{ form.proposal_id.label_tag }} {% help_wrap form.proposal_id.help_text %}{{ form.proposal_id }}</p>
        {% for error in form.proposal_id.errors %}<div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>{% endfor %}
        <p>{{ form.proposal_description.label_tag }}</p>
        <textarea cols="100" id="proposal_description" name="proposal_description" placeholder="{{ form.proposal_description.help_text }}">{% if form.proposal_description.value != None %}{{ form.proposal_description.value }}{% endif %}</textarea>
        {% for error in form.proposal_description.errors %}<div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>{% endfor %}

        <hr>
        {{ form.source_type.label_tag }}{{ form.source_type }}
        <div id="none">
            <p>Select a source type before choosing an event telescope</p>
        </div>
        <div id="div_event_telescope">
            <table>
                <tr><td>{{ form.event_telescope.label_tag }}      {% help_wrap form.event_telescope.help_text %}</td><td>
                <select name="event_telescope" id="event_telescope">
                    <option disabled selected value> Use any telescope </option>
                </select></td></tr>
            </table>
        </div>
        <hr>
        <h2>Event Source Settings</h2>
        {% for error in form.source_type.errors %}<div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>{% endfor %}
        <h3>Source duration</h3>
        <table>
            <tr><td>Trigger Duration Range (s)  {% help_wrap 'The inclusive duration range of an event that will automatically trigger an observation.' %}</td><td>{{ form.trig_min_duration }}</td><td>{{ form.trig_max_duration }}</td></tr>
            <tr><td>Pending Duration Range 1 (s){% help_wrap 'The inclusive duration range of an event that will notify users and let them decided if an observations should be triggered.' %}</td><td>{{ form.pending_min_duration_1 }}</td><td>{{ form.pending_max_duration_1 }}</td></tr>
            <tr><td>Pending Duration Range 2 (s){% help_wrap 'A second inclusive duration range of an event that will notify users and let them decided if an observations should be triggered.' %}</td><td>{{ form.pending_min_duration_2 }}</td><td>{{ form.pending_max_duration_2 }}</td></tr>
        </table>
        <h3>Source thresholds</h3>
        {{ form.maximum_position_uncertainty.label_tag }}{% help_wrap form.maximum_position_uncertainty.help_text %}{{ form.maximum_position_uncertainty }}
        <div id="fermi_thres">
            {{ form.fermi_prob.label_tag }}{% help_wrap form.fermi_prob.help_text %}{{ form.fermi_prob }}
        </div>
        <div id="swift_thres">
            {{ form.swift_rate_signf.label_tag }}{% help_wrap form.swift_rate_signf.help_text %}{{ form.swift_rate_signf }}
        </div>
        <div id="antares_thres">
            {{ form.antares_min_ranking.label_tag }}{% help_wrap form.antares_min_ranking.help_text %}{{ form.antares_min_ranking }}
        </div>

        <hr>
        <h2>Target Telescope Settings</h2>
        <p>If you can not find the Telescope Project ID please use this <a href="/admin/trigger_app/telescopeprojectid/add/">link</a>  to add it.</p>
        <table>
            <tr><td>{{ form.telescope.label_tag }} {% help_wrap form.telescope.help_text %}</td><td>{{ form.telescope }}</td></tr>
            {% for error in form.telescope.errors %}<div class="alert alert-danger"><strong>{{ form.telescope.label_tag }}{{ error|escape }}</strong></div>{% endfor %}
            <tr><td>{{ form.project_id.label_tag }}  {% help_wrap form.project_id.help_text %}</td>  <td>{{ form.project_id }}</td></tr>
            {% for error in form.project_id.errors %}<div class="alert alert-danger"><strong>{{ form.project_id.label_tag }}{{ error|escape }}</strong></div>{% endfor %}
            <tr><td>{{ form.repointing_limit.label_tag }}  {% help_wrap form.repointing_limit.help_text %}</td>  <td>{{ form.repointing_limit }}</td></tr>
            {% for error in form.repointing_limit.errors %}<div class="alert alert-danger"><strong>{{ form.repointing_limit.label_tag }}{{ error|escape }}</strong></div>{% endfor %}
            <tr><td>{{ form.testing.label_tag }}  {% help_wrap form.testing.help_text %}</td>  <td>{{ form.testing }}</td></tr>
            {% for error in form.testing.errors %}<div class="alert alert-danger"><strong>{{ form.testing.label_tag }}{{ error|escape }}</strong></div>{% endfor %}
        </table>
        <div id="mwa">
            <p>For an explanation of the MWA frequency specifications please see the <a href="https://tracet.readthedocs.io/en/latest/mwa_frequency_specifications.html">documentation</a></p>
            <table>
                <tr><td>{{ form.mwa_freqspecs.label_tag }}  {% help_wrap form.mwa_freqspecs.help_text %}</td>  <td>{{ form.mwa_freqspecs }}</td></tr>
                <tr><td>{{ form.mwa_exptime.label_tag }}    {% help_wrap form.mwa_exptime.help_text %}</td>    <td>{{ form.mwa_exptime }}</td></tr>
                <tr><td>{{ form.mwa_calexptime.label_tag }} {% help_wrap form.mwa_calexptime.help_text %}</td> <td>{{ form.mwa_calexptime }}</td></tr>
                <tr><td>{{ form.mwa_horizon_limit.label_tag }}  {% help_wrap form.mwa_horizon_limit.help_text %}</td>  <td>{{ form.mwa_horizon_limit }}</td></tr>
                {% for error in form.mwa_horizon_limit.errors %}<div class="alert alert-danger"><strong>{{ form.mwa_horizon_limit.label_tag }}{{ error|escape }}</strong></div>{% endfor %}
            </table>
        </div>
        <div id="mwa_corr">
            <table>
                <tr><td>{{ form.mwa_nobs.label_tag }}       {% help_wrap form.mwa_nobs.help_text %}</td>       <td>{{ form.mwa_nobs }}</td></tr>
                <tr><td>{{ form.mwa_freqres.label_tag }}    {% help_wrap form.mwa_freqres.help_text %}</td>    <td>{{ form.mwa_freqres }}</td></tr>
                <tr><td>{{ form.mwa_inttime.label_tag }}    {% help_wrap form.mwa_inttime.help_text %}</td>    <td>{{ form.mwa_inttime }}</td></tr>
            </table>
        </div>
        <div id="atca">
            <p>{{ form.atca_prioritise_source.label_tag }}       {% help_wrap form.atca_prioritise_source.help_text %}{{ form.atca_prioritise_source }}
            <br>{{ form.atca_max_exptime.label_tag }}    {% help_wrap form.atca_max_exptime.help_text %}{{ form.atca_max_exptime }}</p>
            <p>ATCA has five receivers, so we can cycle the observations through each of them each time they repoint. Here is the
                <a href="https://www.narrabri.atnf.csiro.au/observing/users_guide/html/atug.html#Signal-Path">documentation</a> (see table 1.1) .
                All receives can observe at two frequency ranges (2 GHz bands) except for 16cm, which only has a 2GHz bandwidth, so you can only observer at the centre frequency.</p>
            <hr>
            {{ form.atca_band_3mm }}{{ form.atca_band_3mm.label_tag }}<br>
            <table>
                <tr><td>{{ form.atca_band_3mm_exptime.label_tag }}{% help_wrap form.atca_band_3mm_exptime.help_text %}</td><td>{{ form.atca_band_3mm_exptime }}</td></tr>
                <tr><td>{{ form.atca_band_3mm_freq1.label_tag }}{% help_wrap form.atca_band_3mm_freq1.help_text %}</td><td>{{ form.atca_band_3mm_freq1 }}</td></tr>
                <tr><td>{{ form.atca_band_3mm_freq2.label_tag }}{% help_wrap form.atca_band_3mm_freq2.help_text %}</td><td>{{ form.atca_band_3mm_freq2 }}</td></tr>
            </table>
            <hr>
            {{ form.atca_band_7mm }}{{ form.atca_band_7mm.label_tag }}<br>
            <table>
                <tr><td>{{ form.atca_band_7mm_exptime.label_tag }}{% help_wrap form.atca_band_7mm_exptime.help_text %}</td><td>{{ form.atca_band_7mm_exptime }}</td></tr>
                <tr><td>{{ form.atca_band_7mm_freq1.label_tag }}{% help_wrap form.atca_band_7mm_freq1.help_text %}</td><td>{{ form.atca_band_7mm_freq1 }}</td></tr>
                <tr><td>{{ form.atca_band_7mm_freq2.label_tag }}{% help_wrap form.atca_band_7mm_freq2.help_text %}</td><td>{{ form.atca_band_7mm_freq2 }}</td></tr>
            </table>
            <hr>
            {{ form.atca_band_15mm }}{{ form.atca_band_15mm.label_tag }}<br>
            <table>
                <tr><td>{{ form.atca_band_15mm_exptime.label_tag }}{% help_wrap form.atca_band_15mm_exptime.help_text %}</td><td>{{ form.atca_band_15mm_exptime }}</td></tr>
                <tr><td>{{ form.atca_band_15mm_freq1.label_tag }}{% help_wrap form.atca_band_15mm_freq1.help_text %}</td><td>{{ form.atca_band_15mm_freq1 }}</td></tr>
                <tr><td>{{ form.atca_band_15mm_freq2.label_tag }}{% help_wrap form.atca_band_15mm_freq2.help_text %}</td><td>{{ form.atca_band_15mm_freq2 }}</td></tr>
            </table>
            <hr>
            {{ form.atca_band_4cm }}{{ form.atca_band_4cm.label_tag }}<br>
            <table>
                <tr><td>{{ form.atca_band_4cm_exptime.label_tag }}{% help_wrap form.atca_band_4cm_exptime.help_text %}</td><td>{{ form.atca_band_4cm_exptime }}</td></tr>
                <tr><td>{{ form.atca_band_4cm_freq1.label_tag }}{% help_wrap form.atca_band_4cm_freq1.help_text %}</td><td>{{ form.atca_band_4cm_freq1 }}</td></tr>
                <tr><td>{{ form.atca_band_4cm_freq2.label_tag }}{% help_wrap form.atca_band_4cm_freq2.help_text %}</td><td>{{ form.atca_band_4cm_freq2 }}</td></tr>
            </table>
            <hr>{{ form.atca_band_16cm }}{{ form.atca_band_16cm.label_tag }}<br>
            <table>
                <tr><td>{{ form.atca_band_16cm_exptime.label_tag }}{% help_wrap form.atca_band_16cm_exptime.help_text %}</td><td>{{ form.atca_band_16cm_exptime }}</td></tr>
            </table>

        </div>
        <input type="submit" value=Submit>
    </form>
    </div>
    {{ src_tele.GRB|json_script:"grb_telescope" }}
    {{ src_tele.FS|json_script:"fs_telescope" }}
    {{ src_tele.NU|json_script:"nu_telescope" }}
    {{ src_tele.GW|json_script:"gw_telescope" }}
    <script>
        $(document).ready(function(){
            // Display observing telescope specific settngs
            $("#id_telescope").change(function() {
                if ($(this).val() === "MWA_VCS") {
                    $('#mwa').show();
                    $('#mwa_corr').hide();
                    $('#atca').hide();
                } else if ($(this).val() === "MWA_correlate") {
                    $('#mwa').show();
                    $('#mwa_corr').show();
                    $('#atca').hide();
                } else if ($(this).val() === "ATCA") {
                    $('#mwa').hide();
                    $('#mwa_corr').hide();
                    $('#atca').show();
                } else {
                    $('#mwa').hide();
                    $('#mwa_corr').hide();
                    $('#atca').hide();
                }
            });
            $("#id_telescope").trigger("change")

            // Display source type specific observing telescopes
            $("#id_source_type").change(function() {
                // Show telescopes when a source is picked
                if ($(this).val() === "GRB" || $(this).val() === "FS" || $(this).val() === "NU" || $(this).val() === "GW") {
                    $('#div_event_telescope').show();
                    $('#none').hide();
                } else {
                    $('#div_event_telescope').hide();
                    $('#none').show();
                }
                // Remove all options
                selectBox = document.querySelector('#event_telescope')
                while (selectBox.options.length > 0) {
                    selectBox.remove(0);
                }
                // Get telescope specific list
                let avail_telesocpes = [];
                if ($(this).val() === "GRB") {
                    avail_telesocpes = JSON.parse(document.getElementById('grb_telescope').textContent);
                } else if ($(this).val() === "FS") {
                    avail_telesocpes = JSON.parse(document.getElementById('fs_telescope').textContent);
                } else if ($(this).val() === "GW") {
                    avail_telesocpes = JSON.parse(document.getElementById('gw_telescope').textContent);
                } else if ($(this).val() === "NU") {
                    avail_telesocpes = JSON.parse(document.getElementById('nu_telescope').textContent);
                } else {
                    avail_telesocpes = [];
                }
                console.log(avail_telesocpes)
                // Add default
                const newOption = document.createElement('option');
                newOption.appendChild(document.createTextNode('Use any telescope'));
                newOption.setAttribute('value', "");
                selectBox.appendChild(newOption);
                // Add the options back dependent on the source type
                for (let ti in avail_telesocpes) {
                    const telescope = avail_telesocpes[ti]
                    console.log(telescope)
                    const newOption = document.createElement('option');
                    const optionText = document.createTextNode(telescope);
                    // set option text
                    newOption.appendChild(optionText);
                    // and option value
                    newOption.setAttribute('value',telescope);
                    selectBox.appendChild(newOption);
                }
                console.log(document.querySelector('#event_telescope').options)
            });
            $("#id_source_type").trigger("change")

            // listen to two fields to work out which thresholds to display
            document.getElementById("event_telescope").addEventListener("change", threshold_display);
            document.getElementById("id_source_type").addEventListener("change", threshold_display);
            function threshold_display() {
                console.log($("#event_telescope").val());
                console.log($("#id_source_type").val());
                if ( ($("#event_telescope").val() === "" || $("#event_telescope").val() === "Fermi") && $("#id_source_type").val() == "GRB" ) {
                    $('#fermi_thres').show();
                } else {
                    $('#fermi_thres').hide();
                }
                if ( ($("#event_telescope").val() === "" || $("#event_telescope").val() === "SWIFT") && $("#id_source_type").val() == "GRB" ) {
                    $('#swift_thres').show();
                } else {
                    $('#swift_thres').hide();
                }
                if ( ($("#event_telescope").val() === "" || $("#event_telescope").val() === "Antares") && $("#id_source_type").val() == "NU" ) {
                    $('#antares_thres').show();
                } else {
                    $('#antares_thres').hide();
                }
            }
            threshold_display();
        })
    </script>
{% endblock %}