{% extends 'trigger_app/header.html' %}

{% load utils %}

{% block content %}
<title>Event Group Log</title>
<div class="container-fluid">
  <h1>Event Group Log</h1>

  <table class="fl-table">
    <col>
    <colgroup span="{{ settings|length }}"></colgroup>
    <thead>
    <tr>
      <td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>
      <th style="text-align: center; background: #448a92" colspan="{{ settings|length }}" scope="colgroup">Proposal Decisions</th>
    </tr>
    <tr>
      <th scope="row">Group ID</th>
      <th scope="row">First Alert (UTC)</th>
      <th scope="row">Event Telescope</th>
      <th scope="row">Trig ID</th>
      <th scope="row">Source Type</th>
      <th scope="row">Source Name</th>
      {% for setting in settings %}
        <th>{{ setting.proposal_id }}</th>
      {% endfor %}
    </tr>
    </thead>
    {% for trig, telescope, source_name, prop_decisions, prop_decision_ids in object_list %}
    <tr>
      <td><a href="/trigger_id_details/{{ trig.id }}/" style="text-decoration:None">{{ trig.id }}</a></td>
      <td scope="row">{{ trig.recieved_data|date:"Y-m-d H:i:s" }}</td>
      <td scope="row">{{ telescope }}</td>
      {% if telescope == "SWIFT" %}
        <!-- Link to SWIFT telescope page -->
        <td><a href="https://gcn.gsfc.nasa.gov/other/{{ trig.trigger_id }}.swift" style="text-decoration:None">{{ trig.trigger_id }}</a></td>
      {% else %}
        <td>{{ trig.trigger_id }}</td>
      {% endif %}
      <td scope="row">{{ trig.source_type }}</td>
      <td scope="row">
        {% if trig.source_type == "FS" %}
          { source_name }}
        {% else %}
          {{ trig.source_type }}{{ trig.earliest_event_observed|date:"ymd" }}
        {% endif %}
      </td>
      {% for setting in settings %}
        {% if prop_decisions|index:forloop.counter0 == "Ignored" %}
          <td><a class="grey-tr"
        {% elif prop_decisions|index:forloop.counter0 == "Error" %}
          <td><a class="NegativeTransaction"
        {% elif prop_decisions|index:forloop.counter0 == "Pending" %}
          <td><a class="PendingTransaction"
        {% elif prop_decisions|index:forloop.counter0 == "Triggered" %}
          <td><a class="PositiveTransaction"
        {% else %}
          <td><a
        {% endif %}
          href="/proposal_decision_details/{{ prop_decision_ids|index:forloop.counter0 }}/" style="text-decoration:None" >{{ prop_decisions|index:forloop.counter0 }}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  {% include "trigger_app/pagination.html" %}
</div>
{% endblock %}