{% extends 'trigger_app/header.html' %}

{% load utils %}

{% block content %}
<title>Trigger ID Details</title>

<div class="container-sm">
  <h2>{% if trigger_event.source_type  is not None %} {{ trigger_event.get_source_type_display }} {% endif %} Trigger Group ID {{ trigger_event.id }}</h2>
  <table class="table-thin">
    <tr>
      <td>Telescope(s)</td>
      <td>{{ telescopes }}</td>
    </tr>
    <tr>
      <td>Trigger ID</td>
      <td>{% if trigger_event.trigger_id is not None %}
            {% if 'SWIFT' in telescopes  %}
              <!-- Link to SWIFT telescope page -->
              <a href="https://gcn.gsfc.nasa.gov/other/{{ trigger_event.trigger_id }}.swift" style="text-decoration:None">{{ trigger_event.trigger_id }}</a>
            {% else %}
              {{ trigger_event.trigger_id }}
            {% endif %}
          {% endif %}</td>
    </tr>
    <tr>
      <td>Recieved (UTC)</td>
      <td>{{ trigger_event.recieved_data|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Earliest Event Observed (UTC)</td>
      <td>{{ trigger_event.earliest_event_observed|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Latest Event Observed (UTC)</td>
      <td>{{ trigger_event.latest_event_observed|date:"Y-m-d H:i:s" }}</td>
    </tr>
    <tr>
      <td>Best Right Acension</td>
      <td>{{ trigger_event.ra }}</td>
    </tr>
    <tr>
      <td>Best Declination</td>
      <td>{{ trigger_event.dec }}</td>
    </tr>
    <tr>
      {% if poserr_unit == "deg" %}
        <td>Best Position Error (&#176;)</td>
        <td>{{ trigger_event.pos_error }}</td>
      {% else %}
        <td>Best Position Error (arcmin)</td>
        <td>{% multiply trigger_event.pos_error 60 2 %}</td>
      {% endif %}
    </tr>
  </table>
</div>

<div class="container-fluid">
  <h2>Proposal Decisions</h2>
  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Proposal Telsecope</th>
        <th>Project ID</th>
        <th>Decision</th>
        <th>Decision Reason</th>
        <th>Duration (s)</th>
        <th>Right Acension (&#176;)</th>
        <th>Declination (&#176;)</th>
        {% if poserr_unit == "deg" %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (&#176;)</a></th>
        {% else %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (arcmin)</a></th>
        {% endif %}
      </tr>
    </thead>
    {% for prop_dec in prop_decs %}
    {% if prop_dec.decision == "I" %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="/proposal_decision_details/{{ prop_dec.id }}" style="text-decoration:None">{{ prop_dec.id }}</a</td>
      <td>{{ prop_dec.proposal.telescope }}</td>
      <td>{{ prop_dec.proposal.project_id }}</td>
      <td>{{ prop_dec.get_decision_display }}</td>
      <td>{{ prop_dec.decision_reason }}</td>
      <td>{{ prop_dec.duration }}</td>
      <td>{{ prop_dec.ra }}</td>
      <td>{{ prop_dec.dec }}</td>
      <td>
      {% if prop_dec.pos_error    is not None %}
        {% if poserr_unit == "deg" %}
          {{ prop_dec.pos_error }}
        {% else %}
          {% multiply prop_dec.pos_error 60 2 %}
        {% endif %}
      {% endif %}
      </td>
    </tr>
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
  </table>


  {% if obs %}
    <h2>Observations</h2>

    <table class="fl-table">
      <thead>
        <tr>
          <th>Observation ID</th>
          <th>Telescope</th>
          <th>Proposal Decision ID</th>
          <th>Reason</th>
          <th>Cancel Obs?</th>
        </tr>
      </thead>
      <!-- Iterate over object_list -->
      {% for ob in obs %}
      <!-- Display Objects -->
      <tr>
        {% if ob.website_link is None %}
          <td>{{ ob.obsid }}</td>
        {% else %}
          <td><a href="{{ ob.website_link }}" style="text-decoration:None">{{ ob.obsid }}</a></td>
        {% endif %}
        <td>{{ ob.telescope.name }}</td>
        <td><a href="/proposal_decision_details/{{ ob.proposal_decision_id.id }}" style="text-decoration:None">{{ ob.proposal_decision_id.id }}</a</td>
        <td>{{ ob.reason }}</td>
        <td>
          {% if ob.telescope.name == "ATCA" %}
            <button class="btn btn-danger" onclick='var conf = confirm("Are you sure you want to cancel observation {{ ob.obsid }}"); if (conf == true) { window.location = "/cancel_atca_observation/{{ ob.obsid }}";}'>Cancel</button>
          {% endif %}
        </td>
      </tr>
      <!-- If object_list is empty  -->
      {% empty %}
      <p>No observations yet.</p>
      {% endfor %}
    </table>
  {% endif %}

    <h2> VOEvents</h2>

    <table class="fl-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Source Type</th>
          <th>Telescope</th>
          <th>Event Type</th>
          <th>Alert Time (UTC)</th>
          <th>Recieved (UTC)</th>
          <th>Event ID</th>
          <th>Source Name</th>
          <th>Sequence number</th>
          <th>Duration (s)</th>
          <th>RA (HH:MM:SS)</th>
          <th>Dec (DD:MM:SS)</th>
          {% if poserr_unit == "deg" %}
            <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (&#176;)</a></th>
          {% else %}
            <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (arcmin)</a></th>
          {% endif %}
          <th>Fermi Detection Probability (%)</th>
          <th>SWIFT Rate Significance (sigma)</th>
        </tr>
      </thead>
      <!-- Iterate over object_list -->
      {% for voevent in voevents %}
      <!-- Display Objects -->
      {% if voevent.ignored %}
        <tr class="grey-tr">
      {% else %}
        <tr>
      {% endif %}
        <td><a href="/voevent_view/{{ voevent.id }}" style="text-decoration:None">{{ voevent.id }}</a></td>
        <td>{% if voevent.source_type  is not None %} {{ voevent.source_type }}  {% endif %}</td>
        <td>{{ voevent.telescope }}</td>
        <td>{{ voevent.event_type }}</td>
        <td>{{ voevent.event_observed|date:"Y-m-d H:i:s" }}</td>
        <td>{{ voevent.recieved_data|date:"Y-m-d H:i:s" }}</td>
        <td>{% if voevent.trigger_id   is not None %} {{ voevent.trigger_id }}   {% endif %}</td>
        <td>{% if voevent.source_name  is not None %} {{ voevent.source_name }}  {% endif %}</td>
        <td>{% if voevent.sequence_num is not None %} {{ voevent.sequence_num }} {% endif %}</td>
        <td>{% if voevent.duration     is not None %} {{ voevent.duration }}     {% endif %}</td>
        <td>{% if voevent.ra_hms          is not None %} {{ voevent.ra_hms }}          {% endif %}</td>
        <td>{% if voevent.dec_dms         is not None %} {{ voevent.dec_dms }}         {% endif %}</td>
        <td>
        {% if voevent.pos_error    is not None %}
          {% if poserr_unit == "deg" %}
            {{ voevent.pos_error }}
          {% else %}
            {% multiply voevent.pos_error 60 2 %}
          {% endif %}
        {% endif %}
        </td>
        <td>{% if voevent.fermi_detection_prob is not None %} {{ voevent.fermi_detection_prob }}  {% endif %}</td>
        <td>{% if voevent.swift_rate_signif    is not None %} {{ voevent.swift_rate_signif    }}  {% endif %}</td>
      </tr>
      <!-- If object_list is empty  -->
      {% empty %}
      <li>No objects yet.</li>
      {% endfor %}
      </table>

</div>
{% endblock %}