{% extends 'trigger_app/header.html' %}

{% load utils %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<title>Event Log</title>
<div class="container-fluid">
  <h1>Event Log</h1>
  <div style="background-color:#f8f8f8; width:90%; margin: 0 auto; padding: 16px;">
  <h3>Filter Events:</h3>
  <form action="" method="get">
    <table>
      <tr>
        <td width="15%">{{ filter.form.ignored.label_tag }}</td>
        <td width="15%">{{ filter.form.ignored }}</td>
        <td width="15%">Possibily Associated Events ID:</td>
        <td width="15%">{{ filter.form.associated_event_id }}</td>
        <td width="15%"></td>
        <td width="7.5%">Min (inclusive)</td>
        <td width="7.5%">Max (inclusive)</td>
      </tr>
      <tr>
        <td>{{ filter.form.source_type.label_tag }}</td>
        <td>{{ filter.form.source_type }}</td>
        <td>Event ID:</td>
        <td>{{ filter.form.trig_id }}</td>
        <td>Duration (s):</td>
        <td>{{ filter.form.duration__gte }}</td>
        <td>{{ filter.form.duration__lte }}</td>
      </tr>
      <tr>
        <td>Telescope:</td>
        <td>{{ filter.form.telescopes }}</td>
        <td>{{ filter.form.source_name.label_tag }}</td>
        <td>{{ filter.form.source_name }}</td>
        <td>RA (deg):</td>
        <td>{{ filter.form.ra__gte }}</td>
        <td>{{ filter.form.ra__lte }}</td>
      </tr>
      <tr>
        <td>{{ filter.form.event_type.label_tag }}</td>
        <td>{{ filter.form.event_type }}</td>
        <td>{{ filter.form.sequence_num.label_tag }}</td>
        <td>{{ filter.form.sequence_num }}</td>
        <td>Dec (deg):</td>
        <td>{{ filter.form.dec__gte }}</td>
        <td>{{ filter.form.dec__lte }}</td>
      </tr>
      <tr>
        <td>Received date (start)</td>
        <td>{{filter.form.recieved_data_after}}</td>
        <td>Observed date (start)</td>
        <td>{{filter.form.event_observed_after}}</td>  
        <td>Position error (deg):</td>
        <td>{{ filter.form.pos_error__gte }}</td>
        <td>{{ filter.form.pos_error__lte }}</td>
      </tr>
      <tr>
        <td>Received date (end)</td>
        <td>{{filter.form.recieved_data_before}}</td>
        <td>Observed date (end)</td>
        <td>{{filter.form.event_observed_before}}</td>
        <td>Fermi Detection Probability (%):</td>
        <td>{{ filter.form.fermi_detection_prob__gte }}</td>
        <td>{{ filter.form.fermi_detection_prob__lte }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>SWIFT Rate Significance (sigma):</td>
        <td>{{ filter.form.swift_rate_signif__gte }}</td>
        <td>{{ filter.form.swift_rate_signif__lte }}</td>
      </tr>
    </table>
    {% if has_filter %}
      <a href="/event_log/">Clear all filters</a>
    {% endif %}
    <br/>
    <input class="btn btn-primary" type="submit" />
  </form>
  </div>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Event ID</th>
        <th>Source Type</th>
        <th>Telescope</th>
        <th>Event Type</th>
        <th>Alert Time (UTC)</th>
        <th>Received (UTC)</th>
        <th>Trig ID</th>
        <th>Group ID</th>
        <th>Source Name</th>
        <th>Sequence number</th>
        <th>Duration (s)</th>
        <th>RA (HH:MM:SS)</th>
        <th>Dec (DD:MM:SS)</th>
        {% if poserr_unit == "deg" %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (&#176;)</a></th>
        {% else %}
          <th><a href="?{% url_switch request 'poserr_unit' %}">Position Error (arcmin)</a></th>
        {% endif %}
        <th>Fermi Detection Probability (%)</th>
        <th>SWIFT Rate Significance (sigma)</th>
        <th>Antares Rating</th>
      </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in page_obj %}
    <!-- Display Objects -->
    {% if object.ignored %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="/voevent_view/{{ object.id }}" style="text-decoration:None">{{ object.id }}</a></td>
      <td>{% if object.source_type is not None %} {{ object.source_type }}  {% endif %}</td>
      <td>{{ object.telescope }}</td>
      <td>{{ object.event_type }}</td>
      <td>{{ object.event_observed|date:"Y-m-d H:i:s" }}</td>
      <td>{{ object.recieved_data|date:"Y-m-d H:i:s" }}</td>
      <td>
        {% if object.trig_id is not None %}
          {% if object.telescope == "SWIFT" and not object.ignored %}
            <!-- Link to SWIFT telescope page -->
            <a href="https://gcn.gsfc.nasa.gov/other/{{ object.trig_id }}.swift" style="text-decoration:None">{{ object.trig_id }}</a>
          {% else %}
            {{ object.trig_id }}
          {% endif %}
        {% endif %}
      </td>
      {% if object.event_group_id is None %}
        <!-- Don't make a link because there is no trigger event -->
        <td></td>
      {% else %}
        <td><a href="/event_group_details/{{ object.event_group_id }}/" style="text-decoration:None">{{ object.event_group_id}}</a></td>
      {% endif %}
      <td>{% if object.source_name  is not None %} {{ object.source_name }}  {% endif %}</td>
      <td>{% if object.sequence_num is not None %} {{ object.sequence_num }} {% endif %}</td>
      <td>{% if object.duration     is not None %} {{ object.duration }}     {% endif %}</td>
      <td>{% if object.ra_hms       is not None %} {{ object.ra_hms }}       {% endif %}</td>
      <td>{% if object.dec_dms      is not None %} {{ object.dec_dms }}      {% endif %}</td>
      <td>
      {% if object.pos_error    is not None %}
        {% if poserr_unit == "deg" %}
          {{ object.pos_error }}
        {% else %}
          {% multiply object.pos_error 60 2 %}
        {% endif %}
      {% endif %}
      </td>
      <td>{% if object.fermi_detection_prob is not None %} {{ object.fermi_detection_prob }}  {% endif %}</td>
      <td>{% if object.swift_rate_signif    is not None %} {{ object.swift_rate_signif    }}  {% endif %}</td>
      <td>{% if object.antares_rating       is not None %} {{ object.antares_rating       }}  {% endif %}</td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
      <li>No objects yet.</li>
    {% endfor %}
  </table>

  {% include "trigger_app/pagination.html" %}
</div>
<script>
  $(document).ready(function(){

    function datetimeLocal(datetime) {
      const dt = new Date(datetime);
      dt.setMinutes(dt.getMinutes() - dt.getTimezoneOffset());
      return dt.toISOString().slice(0, 16);
    }

    const rda = document.getElementsByName("recieved_data_after")[0];
    const rdb = document.getElementsByName("recieved_data_before")[0];
    const eoa = document.getElementsByName("event_observed_after")[0];
    const eob = document.getElementsByName("event_observed_before")[0];

    // Don't let users select dates in the future
    rda.max = datetimeLocal(Date.now());
    rdb.max = datetimeLocal(Date.now());
    eoa.max = datetimeLocal(Date.now());
    eob.max = datetimeLocal(Date.now());


    // If no date value for max range, set to current date (when we got the data)
    if(!rdb.value) {
      rdb.value = datetimeLocal(Date.now())
    }

    if(!eob.value) {
      eob.value = datetimeLocal(Date.now())
    }

    // Set starting date range to something in 2021, this is mainly for UX and is not real
    if(!rda.value) {
      rda.value = datetimeLocal("2021-01-01 04:00:00")
    }
    // Set starting date range to sometime in 2021, this is mainly for UX and does not reflect when we started collecting data
    if(!eoa.value) {
      eoa.value = datetimeLocal("2021-01-01 04:00:00")
    }

    })
    </script>
{% endblock %}