{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Home Page</title>
<div class="container py-4">
  <h1>MWA Trigger Home Page</h1>
  <h3>VOEvent Receiving Status (twistd comet)</h3>
  {% if twistd_comet_status.status < 0 %}
    <p class="NegativeTransaction">
  {% else %}
    <p class="PositiveTransaction">
  {% endif %}
  {{ twistd_comet_status.get_status_display }} </p>
  <p><a href="/comet_log/" style="text-decoration:None">View Comet Log</a></p>

  <h3>Current Proposal Settings (Summarised)</h3>
  <table class="fl-table">
    <thead>
    <tr>
      <th>Telescope</th>
      <th>Project ID</th>
      <th>Proposal Description</th>
      <th>Proposal Flow Diagram</th>
      <th>GRB?</th>
      <th>Flare Stars?</th>
      <th>GW?</th>
      <th>Neutrinos?</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for setting in settings %}
    <!-- Display Objects -->
    <tr>
      <td>{{ setting.telescope }}</td>
      <td>{{ setting.project_id }}</td>
      <td>{{ setting.proposal_description }}</td>
      <td><a href='/proposal_decision_path/{{ setting.id }}/' style="text-decoration:None">View Flow Diagram</a></td>
      <td>{% if setting.grb        %} &#10004; {% endif %}</td>
      <td>{% if setting.flare_star %} &#10004; {% endif %}</td>
      <td>{% if setting.gw         %} &#10004; {% endif %}</td>
      <td>{% if setting.neutrino   %} &#10004; {% endif %}</td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>
    <p><a href="/admin/trigger_app/proposalsettings/" style="text-decoration:None">Edit Proposal Settings</a></p>
    <p><a href="/proposal_settings/" style="text-decoration:None">View Proposal Setting Details</a></p>

  <h3>Event Logs</h3>
  <p><a href="/trigger_log/" style="text-decoration:None">View Trigger Log</a></p>
  <p><a href="/voevent_log/" style="text-decoration:None">View Raw VOEvent Log</a></p>

  <h3>Alert Control</h3>
  <p><a href="/user_alert_status/" style="text-decoration:None">User Alert Control</a></p>
  <p><a href="/admin/trigger_app/adminalerts/" style="text-decoration:None">Admin Alert Control</a></p>
</div>
{% endblock %}