{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Trigger Event Details</title>

<div class="container-sm">
  <h2>Project Decision ID {{ proj_dec.id }}</h2>
  <table class="table-thin">
    <tr>
      <td>First Duration (s)</td>
      <td>{{ proj_dec.duration }}</td>
    </tr>
    <tr>
      <td>Best Right Acension</td>
      <td>{{ proj_dec.ra }}</td>
    </tr>
    <tr>
      <td>Best Declination</td>
      <td>{{ proj_dec.dec }}</td>
    </tr>
    <tr>
      <td>Best Position Error (&#176;)</td>
      <td>{{ proj_dec.pos_error }}</td>
    </tr>
  </table>
  <h3>Log</h3>
  <p style="white-space: pre-wrap">{{ proj_dec.decision_reason }}<p>
</div>
{% endblock %}