{% extends 'trigger_app/header.html' %}

{% load static %}

{% block content %}
<title>Project Decision Path</title>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<div class="container-slide">
  <h1>Project {{ project.telescope.name }} {{ project.project_id }} Decision Flow Chart</h1>
  <p>Project Description: {{ project.project_description }}</p>
  <p><a href="/admin/trigger_app/projectsettings/" style="text-decoration:None">Edit Project Settings</a></p>

  <div class="mermaid">{{ mermaid_script }}</div>
</div>
{% endblock %}