{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Current Proposal Settings</title>
<div class="container-fluid">
  <h2>MWA proposals</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Telescope</th>
      <th>Project ID</th>
      <th>Proposal Description</th>
      <th>Proposal Flow Diagram</th>
      <th>Trigger Duration range (s)</th>
      <th>Pending Duration range 1 (s)</th>
      <th>Pending Duration range 2 (s)</th>
      <th>Minimum Fermi Probability</th>
      <th>Minimum SWIFT Rate Significance</th>
      <th>Repointing Limit</th>
      <th>Testing?</th>
      <th>Source Type</th>
      <th>Centre Frequency Channel ID</th>
      <th>Observing time (s)</th>
      <th>Calibrator?</th>
      <th>Calibrato Observing time (s)</th>
      <th>Frequency Resolution (kHz)</th>
      <th>Intergration Time (s)</th>
      <th>Avoid sun?</th>
      <th>Ring Buffer?</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    {% if "MWA" in object.telescope.name %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ object.id }}/' style="text-decoration:None">{{ object.id }}</a></td>
      <td>{{ object.telescope }}</td>
      <td>{{ object.project_id }}</td>
      <td>{{ object.proposal_description }}</td>
      <td><a href='/proposal_decision_path/{{ object.id }}/' style="text-decoration:None">View Flow Diagram</a></td>
      <td>{{ object.trig_min_duration }} - {{ object.trig_max_duration }}</td>
      <td>{{ object.pending_min_duration_1 }} - {{ object.pending_max_duration_1 }}</td>
      <td>{{ object.pending_min_duration_2 }} - {{ object.pending_max_duration_2 }}</td>
      <td>{{ object.fermi_prob }}</td>
      <td>{{ object.swift_rate_signf }}</td>
      <td>{{ object.repointing_limit }}</td>
      <td>{{ object.testing }}</td>
      <td>{{ object.get_source_type_display }}</td>
      <td>{{ object.mwa_centrefreq }}</td>
      <td>{{ object.mwa_exptime }}</td>
      <td>{{ object.mwa_calexptime }}</td>
      <td>{{ object.mwa_freqres }}</td>
      <td>{{ object.mwa_inttime }}</td>
    </tr>
    {% endif %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>

  <h2>ATCA proposals</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Telescope</th>
      <th>Project ID</th>
      <th>Proposal Description</th>
      <th>Proposal Flow Diagram</th>
      <th>Trigger Duration range (s)</th>
      <th>Pending Duration range 1 (s)</th>
      <th>Pending Duration range 2 (s)</th>
      <th>Minimum Fermi Probability</th>
      <th>Minimum SWIFT Rate Significance</th>
      <th>Repointing Limit</th>
      <th>Testing?</th>
      <th>Source Type</th>
      <th>Band 1 Centre Frequency (MHz)</th>
      <th>Band 2 Centre Frequency (MHz)</th>
      <th>N Obs</th>
      <th>Each Observing time (s)</th>
      <th>Each Calibrator Observing time (s)</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    {% if "MWA" not in object.telescope.name %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ object.id }}/' style="text-decoration:None">{{ object.id }}</a></td>
      <td>{{ object.telescope }}</td>
      <td>{{ object.project_id }}</td>
      <td>{{ object.proposal_description }}</td>
      <td><a href='/proposal_decision_path/{{ object.id }}/' style="text-decoration:None">View Flow Diagram</a></td>
      <td>{{ object.trig_min_duration }} - {{ object.trig_max_duration }}</td>
      <td>{{ object.pending_min_duration_1 }} - {{ object.pending_max_duration_1 }}</td>
      <td>{{ object.pending_min_duration_2 }} - {{ object.pending_max_duration_2 }}</td>
      <td>{{ object.fermi_prob }}</td>
      <td>{{ object.swift_rate_signf }}</td>
      <td>{{ object.repointing_limit }}</td>
      <td>{{ object.testing }}</td>
      <td>{{ object.get_source_type_display }}</td>
      <td>{{ object.atca_freq1 }}</td>
      <td>{{ object.atca_freq2 }}</td>
      <td>{{ object.atca_nobs }}</td>
      <td>{{ object.atca_exptime }}</td>
      <td>{{ object.atca_calexptime }}</td>
    </tr>
    {% endif %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>
</div>
{% endblock %}