{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Proposal Decision Details</title>

<div class="container-sm">
  {% if prop_dec.decision == "P" %}
  <h1>
  <button type="button" class="btn btn-success btn-lg"   onclick="location.href='/proposal_decision_result/{{ prop_dec.id }}/1/'">Trigger Observation</button>
  <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='/proposal_decision_result/{{ prop_dec.id }}/0/'">Ignore Event</button>
  </h1>
  {% endif %}
  <h2>Proposal Decision ID {{ prop_dec.id }}</h2>
  <table class="table-thin">
    <tr>
      <td>First Duration (s)</td>
      <td>{{ prop_dec.duration }}</td>
    </tr>
    <tr>
      <td>Best Right Acension</td>
      <td>{{ prop_dec.raj }}</td>
    </tr>
    <tr>
      <td>Best Declination</td>
      <td>{{ prop_dec.decj }}</td>
    </tr>
    <tr>
      <td>Best Position Error (&#176;)</td>
      <td>{{ prop_dec.pos_error }}</td>
    </tr>
    <tr>
      <td>Detected by</td>
      <td>{{ telescopes }}</td>
    </tr>
    <tr>
      <td>Decision</td>
      <td>{{ prop_dec.get_decision_display }}</td>
    </tr>
  </table>
  <h3>Log</h3>
  <p style="white-space: pre-wrap">{{ prop_dec.decision_reason }}<p>
  <p>See full trigger event details <a href="/triggerevent_details/{{ prop_dec.trigger_group_id }}/" style="text-decoration:None">here</a></p>
</div>
{% endblock %}