{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Trigger Event Log</title>
<div class="container-fluid">
  <h1>Trigger Event Log</h1>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Source Type</th>
      <th>Telescope(s)</th>
      <th>Recieved (UTC)</th>
      <th>Earliest Event Observed (UTC)</th>
      <th>Latest Event Observed (UTC)</th>
      <th>RA (&#176;)</th>
      <th>Dec (&#176;)</th>
      <th>Position Error (&#176;)</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object, tele_str in object_list %}
    <!-- Display Objects -->
    <tr>
      <td><a href="/triggerevent_details/{{ object.id }}/" style="text-decoration:None">{{ object.id }}</a></td>
      <td>{% if object.source_type is not None %} {{ object.get_source_type_display }}  {% endif %}</td>
      <td>{{ tele_str }}</td>
      <td>{{ object.recieved_data|date:"Y-m-d H:i:s" }}</td>
      <td>{{ object.earliest_event_observed|date:"Y-m-d H:i:s" }}</td>
      <td>{{ object.latest_event_observed|date:"Y-m-d H:i:s" }}</td>
      <td>{{ object.ra }}</td>
      <td>{{ object.dec }}</td>
      <td>{{ object.pos_error }}</td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
  </table>

  {% include "trigger_app/pagination.html" %}
</div>
{% endblock %}