{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Trigger Event Details</title>
<div class="container-fluid">
  <h2>Trigger Event</h2>
  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Decision</th>
        <th>Decision Reason</th>
        <th>Telescope</th>
        <th>Trigger ID</th>
        <th>Trigger Type</th>
        <th>Duration</th>
        <th>Right Acension</th>
        <th>Declination</th>
        <th>Position Error</th>
      </tr>
    </thead>
    <tr>
      <td>{{ trigger_event.id }}</td>
      <td>{{ trigger_event.get_decision_display }}</td>
      <td>{{ trigger_event.decision_reason }}</td>
      <td>{{ trigger_event.telescope }}</td>
      <td>{{ trigger_event.trigger_id }}</td>
      <td>{{ trigger_event.event_type }}</td>
      <td>{{ trigger_event.duration }}</td>
      <td>{{ trigger_event.ra }}</td>
      <td>{{ trigger_event.dec }}</td>
      <td>{{ trigger_event.pos_error }}</td>
    </tr>
  </table>

  <h2>VOEvents</h2>

  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Recieved (UTC)</th>
        <th>Telescope</th>
        <th>Event Type</th>
        <th>Event ID</th>
        <th>Source Name</th>
        <th>Sequence number</th>
        <th>Duration (s)</th>
        <th>Right Acension (&#176;)</th>
        <th>Declination (&#176;)</th>
        <th>Position Error (&#176;)</th>
        <th>GRB?</th>
        <th>Flare star?</th>
        <th>GW?</th>
        <th>Neutrino?</th>
        <th>XML File</th>
      </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for voevent in voevents %}
    <!-- Display Objects -->
    {% if voevent.ignored %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td>{{ voevent.id }}</td>
      <td>{{ voevent.recieved_data }}</td>
      <td>{{ voevent.telescope }}</td>
      <td>{{ voevent.event_type }}</td>
      <td>{% if voevent.trigger_id   is not None %} {{ voevent.trigger_id }}   {% endif %}</td>
      <td>{% if voevent.source_name  is not None %} {{ voevent.source_name }}  {% endif %}</td>
      <td>{% if voevent.sequence_num is not None %} {{ voevent.sequence_num }} {% endif %}</td>
      <td>{% if voevent.duration     is not None %} {{ voevent.duration }}     {% endif %}</td>
      <td>{% if voevent.ra           is not None %} {{ voevent.ra }}           {% endif %}</td>
      <td>{% if voevent.dec          is not None %} {{ voevent.dec }}          {% endif %}</td>
      <td>{% if voevent.pos_error    is not None %} {{ voevent.pos_error }}    {% endif %}</td>
      <td>{% if voevent.grb        %} &#10004; {% endif %}</td>
      <td>{% if voevent.flare_star %} &#10004; {% endif %}</td>
      <td>{% if voevent.gw         %} &#10004; {% endif %}</td>
      <td>{% if voevent.neutrino   %} &#10004; {% endif %}</td>
      <!-- <td>{{ voevent.xml }}</td> -->
      <td><a href="/voevent_view/{{ voevent.id }}" style="text-decoration:None">View xml</a></td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
    </table>

  <h2>MWA Observations</h2>

  <table class="fl-table">
    <thead>
      <tr>
        <th>Observation ID</th>
        <th>Reason</th>
      </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for ob in mwa_obs %}
    <!-- Display Objects -->
    <tr>
      <td><a href="http://ws.mwatelescope.org/observation/obs/?obsid={{ ob.obsid }}" style="text-decoration:None">{{ ob.obsid }}</a></td>
      <td>{{ ob.reason }}</td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <p>No observations yet.</p>
    {% endfor %}
  </table>
</div>
{% endblock %}