{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Trigger Event Details</title>

<div class="container-sm">
  <h2>Trigger Event ID {{ trigger_event.id }}</h2>
  <table class="table-thin">
    <tr>
      <td>Recieved (UTC)</td>
      <td>{{ trigger_event.recieved_data }}</td>
    </tr>
    <tr>
      <td>Earliest Event Observed (UTC)</td>
      <td>{{ trigger_event.earliest_event_observed }}</td>
    </tr>
    <tr>
      <td>Latest Event Observed (UTC)</td>
      <td>{{ trigger_event.latest_event_observed }}</td>
    </tr>
    <tr>
      <td>Best Right Acension</td>
      <td>{{ trigger_event.ra }}</td>
    </tr>
    <tr>
      <td>Best Declination</td>
      <td>{{ trigger_event.dec }}</td>
    </tr>
    <tr>
      <td>Best Position Error (&#176;)</td>
      <td>{{ trigger_event.pos_error }}</td>
    </tr>
  </table>
</div>

<div class="container-fluid">
  <h2>Proposal Decisions</h2>
  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Proposal Telsecope</th>
        <th>Project ID</th>
        <th>Decision</th>
        <th>Decision Reason</th>
        <th>Duration (s)</th>
        <th>Right Acension (&#176;)</th>
        <th>Declination (&#176;)</th>
        <th>Position Error (&#176;)</th>
      </tr>
    </thead>
    {% for prop_dec in prop_decs %}
    {% if prop_dec.decision == "I" %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="/proposal_decision_details/{{ prop_dec.id }}" style="text-decoration:None">{{ prop_dec.id }}</a</td>
      <td>{{ prop_dec.proposal.telescope }}</td>
      <td>{{ prop_dec.proposal.project_id }}</td>
      <td>{{ prop_dec.get_decision_display }}</td>
      <td>{{ prop_dec.decision_reason }}</td>
      <td>{{ prop_dec.duration }}</td>
      <td>{{ prop_dec.ra }}</td>
      <td>{{ prop_dec.dec }}</td>
      <td>{{ prop_dec.pos_error }}</td>
    </tr>
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
  </table>


  {% if mwa_obs %}
    <h2>Observations</h2>

    <table class="fl-table">
      <thead>
        <tr>
          <th>Observation ID</th>
          <th>Telescope</th>
          <th>Proposal Decision ID</th>
          <th>Reason</th>
        </tr>
      </thead>
      <!-- Iterate over object_list -->
      {% for ob in mwa_obs %}
      <!-- Display Objects -->
      <tr>
        {% if ob.website_link is None %}
          <td>{{ ob.obsid }}</td>
        {% else %}
          <td><a href="{{ ob.website_link }}" style="text-decoration:None">{{ ob.obsid }}</a></td>
        {% endif %}
        <td>{{ ob.telescope.name }}</td>
        <td><a href="/proposal_decision_details/{{ ob.proposal_decision_id.id }}" style="text-decoration:None">{{ ob.proposal_decision_id.id }}</a</td>
        <td>{{ ob.reason }}</td>
      </tr>
      <!-- If object_list is empty  -->
      {% empty %}
      <p>No observations yet.</p>
      {% endfor %}
    </table>
  {% endif %}


  <h2>VOEvents</h2>

  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Recieved (UTC)</th>
        <th>Observed (UTC)</th>
        <th>Telescope</th>
        <th>Event Type</th>
        <th>Event ID</th>
        <th>Source Name</th>
        <th>Sequence number</th>
        <th>Duration (s)</th>
        <th>Right Acension (HH:MM:SS)</th>
        <th>Declination (DD:MM:SS)</th>
        <th>Position Error (&#176;)</th>
        <th>Source Type</th>
        <th>Fermi Detection Probability (%)</th>
        <th>SWIFT Rate Significance (sigma)</th>
        <th>XML File</th>
      </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for voevent in voevents %}
    <!-- Display Objects -->
    {% if voevent.ignored %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td>{{ voevent.id }}</td>
      <td>{{ voevent.recieved_data }}</td>
      <td>{{ voevent.event_observed }}</td>
      <td>{{ voevent.telescope }}</td>
      <td>{{ voevent.event_type }}</td>
      <td>{% if voevent.trigger_id   is not None %} {{ voevent.trigger_id }}   {% endif %}</td>
      <td>{% if voevent.source_name  is not None %} {{ voevent.source_name }}  {% endif %}</td>
      <td>{% if voevent.sequence_num is not None %} {{ voevent.sequence_num }} {% endif %}</td>
      <td>{% if voevent.duration     is not None %} {{ voevent.duration }}     {% endif %}</td>
      <td>{% if voevent.raj          is not None %} {{ voevent.raj }}          {% endif %}</td>
      <td>{% if voevent.decj         is not None %} {{ voevent.decj }}         {% endif %}</td>
      <td>{% if voevent.pos_error    is not None %} {{ voevent.pos_error }}    {% endif %}</td>
      <td>{% if voevent.source_type  is not None %} {{ voevent.get_source_type_display }}  {% endif %}</td>
      <td>{% if voevent.fermi_detection_prob is not None %} {{ voevent.fermi_detection_prob }}  {% endif %}</td>
      <td>{% if voevent.swift_rate_signif    is not None %} {{ voevent.swift_rate_signif    }}  {% endif %}</td>
      <!-- <td>{{ voevent.xml }}</td> -->
      <td><a href="/voevent_view/{{ voevent.id }}" style="text-decoration:None">View xml</a></td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
    </table>

</div>
{% endblock %}