{% extends 'trigger_app/header.html' %}

{% block content %}
<title>VOEvent Log</title>
<div class="container-fluid">
  <h1>VOEvent Log</h1>
  <table class="fl-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Recieved (UTC)</th>
        <th>Observed (UTC)</th>
        <th>Ignored</th>
        <th>Trigger Group ID</th>
        <th>Telescope</th>
        <th>Event Type</th>
        <th>Event ID</th>
        <th>Source Name</th>
        <th>Sequence number</th>
        <th>Duration (s)</th>
        <th>Right Acension (HH:MM:SS)</th>
        <th>Declination (DD:MM:SS)</th>
        <th>Position Error (&#176;)</th>
        <th>Source Type</th>
        <th>Fermi Detection Probability (%)</th>
        <th>SWIFT Rate Significance (sigma)</th>
        <th>XML File</th>
      </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    {% if object.ignored %}
      <tr class="grey-tr">
    {% else %}
      <tr>
    {% endif %}
      <td>{{ object.id }}</td>
      <td>{{ object.recieved_data }}</td>
      <td>{{ object.event_observed }}</td>
      <td>{{ object.ignored }}</td>
      {% if object.trigger_group_id is None %}
        <!-- Don't make a link because there is no trigger event -->
        <td></td>
      {% else %}
        <td><a href="/triggerevent_details/{{ object.trigger_group_id }}/" style="text-decoration:None">{{ object.trigger_group_id }}</a></td>
      {% endif %}
      <td>{{ object.telescope }}</td>
      <td>{{ object.event_type }}</td>
      <td>{% if object.trigger_id   is not None %} {{ object.trigger_id }}   {% endif %}</td>
      <td>{% if object.source_name  is not None %} {{ object.source_name }}  {% endif %}</td>
      <td>{% if object.sequence_num is not None %} {{ object.sequence_num }} {% endif %}</td>
      <td>{% if object.duration     is not None %} {{ object.duration }}     {% endif %}</td>
      <td>{% if object.ra_hms          is not None %} {{ object.ra_hms }}          {% endif %}</td>
      <td>{% if object.dec_dms         is not None %} {{ object.dec_dms }}         {% endif %}</td>
      <td>{% if object.pos_error    is not None %} {{ object.pos_error }}    {% endif %}</td>
      <td>{% if object.source_type  is not None %} {{ object.get_source_type_display }}  {% endif %}</td>
      <td>{% if object.fermi_detection_prob is not None %} {{ object.fermi_detection_prob }}  {% endif %}</td>
      <td>{% if object.swift_rate_signif    is not None %} {{ object.swift_rate_signif    }}  {% endif %}</td>
      <!-- <td>{{ object.xml }}</td> -->
      <td><a href="/voevent_view/{{ object.id }}" style="text-decoration:None">View xml</a></td>
    </tr>
    <!-- If object_list is empty  -->
    {% empty %}
      <li>No objects yet.</li>
    {% endfor %}
  </table>

  {% include "trigger_app/pagination.html" %}
</div>
{% endblock %}