alabaster==0.7.12
asgiref==3.4.1
astropy==5.0
atca-rapid-response-api==1.2
attrs==21.4.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.zoneinfo==0.2.1
brotlipy==0.7.0
cabb-scheduler==1.5
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.3
Comet==3.1.0
constantly==15.1.0
cryptography==36.0.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
Django==3.2.5
django-apscheduler==0.6.2
djangorestframework==3.13.1
docutils==0.17.1
dpcpp-cpp-rt==2022.0.2
entrypoints==0.4
Flask==2.0.2
fonttools==4.29.1
fourpiskytools==0.2.0
greenlet==1.1.2
h5py==3.6.0
healpy==1.15.2
hyperlink==21.0.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.1
incremental==21.3.0
intel-cmplr-lib-rt==2022.0.2
intel-cmplr-lic-rt==2022.0.2
intel-opencl-rt==2022.0.2
intel-openmp==2022.0.2
ipykernel==6.8.0
ipython==7.31.1
iso8601==1.0.2
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jplephem==2.17
jupyter-client==7.1.2
jupyter-core==4.9.1
kiwisolver==1.3.2
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mkl==2022.0.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mwa-pb==1.1
mwa-trigger==0.1
nest-asyncio==1.5.4
networkx==2.6.3
numpy==1.21.4
orderedmultidict==1.0.1
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pip==21.2.4
prompt-toolkit==3.0.26
psycopg2==2.8.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyerfa==2.0.0.1
Pygments==2.11.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==19.0.2
requests==2.27.1
schedule==1.1.0
scipy==1.7.3
service-identity==21.1.0
setuptools==58.0.4
sgp4==2.20
simplejson==3.17.6
six==1.16.0
skyfield==1.41
snowballstemmer==2.2.0
SQLAlchemy==1.4.31
sqlparse==0.4.1
tbb==2021.5.1
tornado==6.1
traitlets==5.1.1
twilio==7.5.1
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.26.7
voevent-parse==1.0.3
wcwidth==0.2.5
Werkzeug==2.0.2
wheel==0.37.1
zipp==3.7.0
zope.interface==5.4.0
